@page "/"

<PageTitle>Welcome</PageTitle>

<div class="main-content">
    <DxGridLayout CssClass="index-gridlayout">
        <Rows>
            <DxGridLayoutRow Height="auto" Areas="header"></DxGridLayoutRow>
            <DxGridLayoutRow Height="auto" Areas="tiles"></DxGridLayoutRow>
        </Rows>
        <Items>
            <DxGridLayoutItem Area="header" CssClass="title">
                <Template>
                    <div class="title-header-text">Hello World!</div>
                    <div class="title-content-text">Welcome to your new DevExpress Blazor Application</div>
                </Template>
            </DxGridLayoutItem>
            <DxGridLayoutItem Area="tiles" CssClass="tiles">
                <Template>
                    <IndexTile NavigateUrl="/counter" Title="Counter" Description="Count mouse clicks and track the total." IconCssClass="icon-counter" />
                    <IndexTile NavigateUrl="/weather" Title="Weather" Description="See a 5-day temperature and weather conditions forecast." IconCssClass="icon-weather" />
                </Template>
            </DxGridLayoutItem>
        </Items>
    </DxGridLayout>
</div>