<Router AppAssembly="typeof(Layout.MainLayout).Assembly"
        AdditionalAssemblies="new[] { typeof(Vns_Epr_Blazor_2026.Web.Client._Imports).Assembly }">
    <Found Context="routeData">
        <AuthorizeRouteView RouteData="routeData" DefaultLayout="typeof(Layout.MainLayout)">
            <NotAuthorized>
                <p>Đang chuyển hướng đến trang đăng nhập...</p>
            </NotAuthorized>
        </AuthorizeRouteView>
        <FocusOnNavigate RouteData="routeData" Selector="h1" />
    </Found>
</Router>
