@inherits LayoutComponentBase
@layout AccountLayout
<div class="manage-layout">
    <div class="title">
        <div class="title-header-text">Manage your account</div>
        <div class="title-content-text">Change your account settings</div>
    </div>
    <ManageNavMenu />
    @Body
</div>
