@page "/Account/Manage/PersonalData"

@inject IdentityUserAccessor UserAccessor

<PageTitle>Personal Data</PageTitle>

<StatusMessage />
<div class="title title-secondary">
    <div class="title-content-text-secondary">Personal Data</div>
</div>
<div>Your account contains personal data that you have given us. This page allows you to download or delete that data.</div>
<div>
    <strong>Deleting this data will permanently remove your account, and this cannot be recovered.</strong>
</div>
<div class="block-content">
    <div class="button-group">
        <form action="Account/Manage/DownloadPersonalData" method="post" class="w-100">
            <AntiforgeryToken />
            <DxButton SubmitFormOnClick="true" CssClass="w-100" Text="Download"></DxButton>
        </form>
        <NavLink href="Account/Manage/DeletePersonalData" class="button-link w-100">
            <DxButton CssClass="w-100" Text="Delete" RenderStyleMode="ButtonRenderStyleMode.Outline" RenderStyle="ButtonRenderStyle.Danger"></DxButton>    
        </NavLink>
    </div>
</div>

@code {
    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    protected override async Task OnInitializedAsync() {
        _ = await UserAccessor.GetRequiredUserAsync(HttpContext);
    }
}
