@page "/Account/AccessDenied"

<PageTitle>Access denied</PageTitle>

<div class="main-content">
    <div class="block-content">
        <div class="title">
            <div class="title-header-text text-danger">Access denied</div>
            <div class="title-content-text text-danger">You do not have access to this resource.</div>
        </div>
    </div>
</div>
