@page "/Account/ForgotPasswordConfirmation"

<PageTitle>Forgot password confirmation</PageTitle>

<div class="main-content">
    <div class="block-content">
        <div class="title">
            <div class="title-header-text">Forgot password confirmation</div>
            <div class="title-content-text">Please check your email to reset your password.</div>
        </div>
    </div>
</div>