@page "/Account/InvalidPasswordReset"

<PageTitle>Invalid password reset</PageTitle>

<div class="main-content">
    <div class="block-content">
        <div class="title">
            <div class="title-header-text">Invalid password reset</div>
            <div class="title-content-text">The password reset link is invalid.</div>
        </div>
    </div>
</div>