@page "/Account/InvalidUser"

<PageTitle>Invalid user</PageTitle>

<div class="main-content">
    <div class="block-content">
        <div class="title">
            <div class="title-header-text">Invalid user</div>
        </div>
    </div>
</div>