@page "/Account/Lockout"

<PageTitle>Locked out</PageTitle>

<div class="main-content">
    <div class="block-content">
        <div class="title">
            <div class="title-header-text">Locked out</div>
            <div class="title-content-text">This account has been locked out, please try again later.</div>
        </div>
    </div>
</div>