@page "/Account/ResetPasswordConfirmation"
<PageTitle>Reset password confirmation</PageTitle>

<div class="main-content">
    <div class="block-content">
        <div class="title">
            <div class="title-header-text">Reset password confirmation</div>
            <div class="title-content-text">Your password has been reset. Please <a href="Account/Login">click here to log in</a></div>
        </div>
    </div>
</div>