@page "/counter"
@rendermode InteractiveServer
@using Microsoft.AspNetCore.Authorization

@attribute [Authorize]

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<div class="counter-block">
    <div class="counter-content">
        <div class="counter-count">
            @currentCount
        </div>
        current count
    </div>
    <DxButton Click="IncrementCount">Click me</DxButton>
</div>

@code {
    private int currentCount;

    private void IncrementCount()
    {
        currentCount++;
    }
}
